.container{
    padding: 30px;
    width: 400px;
    height: auto;
    margin: 100px auto;
    border: 1px solid black;
    border-radius: 15px;
    font-family: 'Ubuntu', sans-serif;
    background-color: rgba(255, 255, 255, 0.5);
    
}

h2{
    padding-bottom: 20px;
    text-align: center;
}

#calculateButton{
    width: 140px;
    margin-top: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
}

#clearButton{
    width: 140px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#buttons{
    display: block;
    max-width: 500px;
    margin: auto;
}

#receipt{
    padding-top: 15px;
}

